{% extends "base/base.html" %}






{% block titulo %}Pagina Principal{% endblock %}


{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

{% block contenido %}
    <h1>Portada Principal</h1>

    <p>
        Completar aqui con alguna descripcion del sistema
    </p>
{% endblock %}